extends ../layout

block content
	.container
		a.pull-right(href="/admin/member/add") 新增
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					th 姓名
					th 性别
					th 年龄
					th 职位
					th 个人网站
					th 查看
					th 修改
					th 删除
				tbody
					each item in members
						tr
							td #{item.name}
							td
								if item.sex==1
									|男
								else
									|女	
							td #{item.age}
							td #{item.job}
							td #{item.website}
							td: a(href="/admin/member/#{item._id}",target="_blank") 查看
							td: a(href="/admin/member/update/#{item._id}",target="_blank") 修改
							td: button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除